.portfolio {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 80vh;
    margin-bottom: 2rem;
}

/* heading */
.portfolio span:nth-of-type(1) {
    color: var(--black);
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.portfolio span:nth-of-type(2) {
    color: var(--orange);
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 1.5rem;
}




.projects{
    display: flex;
    gap: 3rem;
}

.projects {
    max-width: 100%; /* Ensure the image doesn't exceed its container width */
    height: auto; /* Maintain the aspect ratio */
    filter: drop-shadow(-12px 15px 13px rgba(0, 0, 0, 0.25));
    border-radius: 19px;
}

